.about_us {
  display: flex;
  flex-direction: column;
  margin: -22% 0px;
  justify-content: center;
  align-items: center;
  
  .img_phone {
    
    height: 519px;

  }
  .history {
    padding: 0px 17px;
    h2 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 36px;
      color: $primary-text;
      letter-spacing: 0;
      line-height: 42px;
      span {
        display: block;
      }
    }
    p {
      padding-top:5%;
      font-family: "IBM Plex Mono", sans-serif;
      font-size: 14px;
      color: $primary-text;
      letter-spacing: 0;
      line-height: 22px;
    }
  }
}
@media (min-width: 768px) {
  .about_us {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: -25% 0px;
    .img_phone {
      max-width: 457.6px;
      height: 660px;
    }
    .history {
      padding: 0 30px;
      h2 {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 48px;
        color: $primary-text;
        letter-spacing: 0;
        line-height: 52px;
        padding-top: 10%;
        padding-bottom: 3%;
        span {
          display: none;
        }
      }
      p {
        padding-top: 6%;
        max-width:464px;
        font-family: "IBM Plex Mono", sans-serif;
        font-size: 16px;
        color: $primary-text;
        letter-spacing: 0;
        line-height: 24px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about_us {
    margin: -250px 0px;
  }
}
